.Hyperchoice {
  font-family: inter, sans-serif;
  font-size: 3.5vw;
  box-shadow: 0 0 10px black;

  * {
    text-align: justify;
  }

  .main-title {
    h1 {
      border-bottom: solid 2px black;
      font-size: 10vw;
      margin: 0;
      padding-bottom: 1rem;
      // text-transform: uppercase;
    }

    img {
      margin-top: 1rem;
      width: 100%;
      height: auto;
    }
  }

  .content {
    h1,
    h2 {
      font-family: Antonio, sans-serif;
    }

    h2 {
      font-size: 7vw;
    }

    .main-content {
      text-align: start;

      .image-content {
        img {
          width: 100%;
          height: auto;
        }
      }

      .news-Link {
        display: none;
      }

      .text-content {
        padding: 0 1rem;
      }
    }

    .double-content {
      .news-Link {
        border-top: 2px solid black;
        border-bottom: 2px solid black;

        a {
          display: block;
          text-align: center;
        }
      }
    }

    .risk-content {
      padding: 0 1rem;

      ul {
        list-style-type: none;
        padding: 0;
        text-align: start;
      }

      &-list {
        li {
          list-style-type: none;

          &::before {
            content: "- ";
          }
        }

        margin-bottom: 1rem;
      }
    }

    .Wall-content {
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }

    .prevention-content {
      text-align: start;
      padding: 0 1rem;

      ul {
        list-style-type: none;
        padding: 0;
        text-align: start;
        margin-bottom: 1rem;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .Hyperchoice {
    font-size: 2vw;

    .main-title {
      display: flex;
      border-bottom: solid 5px black;
      align-items: center;
      justify-content: space-between;

      h1 {
        border-bottom: none;
        font-size: 7.2vw;
        text-align: justify;
        width: 60%;
      }

      img {
        width: 25%;
      }

      padding-bottom: 1rem;
    }

    .content {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 20px;

      .main-content {
        text-align: justify;

        .news-Link {
          display: block;
          border-top: 2px solid black;
          border-bottom: 2px solid black;
          width: 100%;

          a {
            display: block;
            text-align: center;
          }
        }
      }

      h2 {
        text-align: start;
        font-size: 4vw;
      }

      .double-content {
        .risk-content {
          p {
            text-align: start;
          }
        }
      }

      .double-content {
        .news-Link {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .Hyperchoice {
    // font-size: 2vw;
    font-size: 1.5rem;

    .main-title {
      h1 {
        font-size: 5.5rem;
      }
    }

    .content {
      h2 {
        font-size: 2.5rem;
      }
    }

    // width: 1024px;
  }
}

@media screen and (min-width: 1920px) {
  .Hyperchoice {
    display: flex;
    flex-direction: column;
    align-items: center;

    .main-title,
    .content {
      width: 70%;

      h1 {
        text-align: start;
        width: 100%;
      }
    }
  }
}
