.Rate {
  // z-index: 15;
  display: flex;
  flex-direction: column;

  iframe {
    border: none;

    .RatingValue__Container-sc-fl6036-0 .hAnutS .es-rating-value {
      font-size: 50px;
    }
  }

  .Logo-container {
    width: 100%;

    img {
      width: 15vw;
      height: auto;
      background-color: transparent;
    }
  }
}
