.Download-link {
    color: var(--acYellow);

    li {
        text-align: start;
        list-style-type: disc;

        a {
            color: var(--acYellow);
            font-weight: bold;
            text-decoration: none;
            line-height: 1.5rem;
        }
    }
}

.Single-Link {
    cursor: pointer;
    font-weight: bold;
    align-items: center;

    a {
        text-decoration: none;
        display: inline-flex;
        align-items: center;

        .dot {
            margin-right: 8px;
            color: var(--acYellow);
            font-size: 1.2rem;
            text-decoration: none;
        }

        span {
            text-decoration: underline;
        }
    }
}