:root {
  --acDarkBlue: #006185;
  --acLightBlue: #609cbb;
  --acNewLightBlue: #5f9cbb;
  // --acYellow: #FFD000;
  --acYellow: #dbbe3f;
  --acWhite: #ede3e4;
  --acPurple: #e7dfe8;
  --acNewWhite: #faf5f0;
}

#root {
  width: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;

  /* background-color: var(--acDarkBlue); */
}

.Layout {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--acDarkBlue);
}

.LayoutAdvice {
  margin: 1rem;

  main {
    margin-top: 0;
  }
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.App {
  text-align: center;
}

.sr-only {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.breadcrumb {
  display: none;
  margin-top: 1rem;

  > * {
    color: white;

    :visited {
      color: white;
    }
  }
}

@media (min-width: 760px) {
  .LayoutAdvice {
    margin: 4rem;
  }
}
